<main class="acc-wrapper">
  <section class="acc-my-acc">
    <p class="acc-heading">my account | welcome, {{user.first_name}}</p>
    <p>(<a href="#">logout</a>)</p>
  </section>

  <section class="acc-personal-orders">
    <div class="acc-personal">
      <a href="#">
        <p class="acc-subheading">personal data</p>
        <p class="acc-text">Show or update your personal information</p>
      </a>
    </div>
    <div class="acc-orders">
      <a href="#">
        <p class="acc-subheading">orders</p>
        <p class="acc-text">Check the status of your orders or see past orders.</p>
        <p class="acc-text">For International Orders, please contact customer service.</p>
      </a>
    </div>
  </section>

  <section class="acc-address-wishlist">
    <div class="acc-address">
      <a href="#">
        <p class="acc-subheading">address</p>
        <p class="acc-text">Manage your billing and shipping addresses</p>
      </a>
    </div>
    <div class="acc-wishlist">
      <a href="#">
        <p class="acc-subheading">wishlist</p>
        <p class="acc-text"><p>View and modify items on your list or invite friends</p></p>
      </a>
    </div>
  </section>

  <section class="acc-payment-settings">
    <div class="acc-payment">
      <a href="#">
        <p class="acc-subheading">payment settings</p>
        <p class="acc-text">Manage credit cards</p>
      </a>
    </div>
  </section>

  <section class="acc-account-management">
    <div class="acc-managenment-div">
      <div class="acc-account">
        <p class="acc-account-heading">my account</p>
        <p><a href="#">Personal Data</a></p>
        <p><a href="#">Address</a></p>
        <p><a href="#">Payment Settings</a></p>
        <p><a href="#">Email Settings</a></p>
      </div>
      <div class="acc-account">
        <p class="acc-account-heading">order information</p>
        <p><a href="#">Order History</a></p>
      </div>
      <div class="acc-account">
        <p class="acc-account-heading">wish list</p>
        <p><a href="#">Modify Wish List</a></p>
      </div>
      <div class="acc-account">
        <p class="acc-account-heading">shop confidently</p>
        <p><a href="#">Privacy Policy</a></p>
      </div>
    </div>

    <help-directive></help-directive>

  </section>
</main>
