<div class="container-wrapper">
  <div class="continue-shopping-link">
    <p>Continue Shopping</p>
  </div>  <!-- end continue shopping link -->

  <div class="main-content-wrapper">
    <div class="table-column-titles">
      <p>PRODUCT</p>
      <p>QTY</p>
      <p>PRICE</p>
      <p>TOTAL</p>
    </div><!-- end table column tables -->

    <div class="products-list-wrapper">

      <div class="product">
        <div class="product-image">
          <img ng-src="https://sits-pod41.demandware.net/dw/image/v2/BBBN_PRD/on/demandware.static/-/Sites-masterCatalog_Stance/default/dwdf7f2e68/prod_images/M3204SOC_BRN.jpg?sw=89&sh=89&sm=fit" alt="">
        </div><!-- end product image -->

      <div class="wrapper">
        <div class="product-details" id="product-details">
          <h3 class="bold">RED STRIPES</h3>
          <p class="regular">Item No.</p>
          <p class="regular">Collection</p>
          <p class="regular">Size: L</p>
          <a href="#">Edit Details</a>
        </div> <!-- end product details -->

      <div class="test">
        <h1>test test test </h1>
      </div>

      <div class="quantity-details-wraper">
        <div class="quantity">
          <div class="input-box">
            <label for="">Qty</label>
            <input type="text" name="" value="1" class="qty-input">
          </div><!-- end input box -->
        </div><!-- end quantity -->
      </div><!-- end quantity details -->

      <div class="price-details-wraper" id="price-details-wraper">
        <div class="quantity-text">
          <h6>In Stock</h6>
          <h1>Remove</h2>
        </div><!-- end quantity text -->
        <div class="price">
          <p>16.00</p>
        </div><!-- end price -->
        <div class="total">
          <p>32.00</p>
        </div><!-- end total -->
      </div><!-- end price-details-wraper -->
      </div><!-- end wrapper -->

    </div><!-- end products list -->
  </div><!-- end main content wrapper -->
</div>
