<div class="featuredSocks">
  <p class="featured-title condensed capital">New Arrivals</p>
  <button class="featured-button bold">Shop Now</button>
  <div class="featured-items-container">
    <div class="featured-item">
      <img class="featured-image" src="http://demandware.edgesuite.net/sits_pod41/dw/image/v2/BBBN_PRD/on/demandware.static/-/Sites-masterCatalog_Stance/default/dwc26e758d/prod_images/M526B17POO_RST.jpg?sw=450&amp;sh=720&amp;sm=fit" alt="POOLBOY">
      <hr class="line-under-featured-image">
      <p class="featured-item-name capital condensed">Pool Boy</p>
      <p class="featured-item-style regular">Classic Light</p>
      <p class="condensed">$15.00</p>
    </div>
    <div class="featured-item">
      <img class="featured-image" src="http://demandware.edgesuite.net/sits_pod41/dw/image/v2/BBBN_PRD/on/demandware.static/-/Sites-masterCatalog_Stance/default/dwc26e758d/prod_images/M526B17POO_RST.jpg?sw=450&amp;sh=720&amp;sm=fit" alt="POOLBOY">
      <hr class="line-under-featured-image">
      <p class="featured-item-name capital condensed">Pool Boy</p>
      <p class="featured-item-style regular">Classic Light</p>
      <p class="condensed">$15.00</p>
    </div>
    <div class="featured-item">
      <img class="featured-image" src="http://demandware.edgesuite.net/sits_pod41/dw/image/v2/BBBN_PRD/on/demandware.static/-/Sites-masterCatalog_Stance/default/dwc26e758d/prod_images/M526B17POO_RST.jpg?sw=450&amp;sh=720&amp;sm=fit" alt="POOLBOY">
      <hr class="line-under-featured-image">
      <p class="featured-item-name capital condensed">Pool Boy</p>
      <p class="featured-item-style regular">Classic Light</p>
      <p class="condensed">$15.00</p>
    </div>
    <div class="featured-item">
      <img class="featured-image" src="http://demandware.edgesuite.net/sits_pod41/dw/image/v2/BBBN_PRD/on/demandware.static/-/Sites-masterCatalog_Stance/default/dwc26e758d/prod_images/M526B17POO_RST.jpg?sw=450&amp;sh=720&amp;sm=fit" alt="POOLBOY">
      <hr class="line-under-featured-image">
      <p class="featured-item-name capital condensed">Pool Boy</p>
      <p class="featured-item-style regular">Classic Light</p>
      <p class="condensed">$15.00</p>
    </div>
  </div>
</div>
