<div class="home-wrapper">
  <!-- insert header directive -->

  <!-- starting jumbotron -->
  <div class="home-jumbotron-container">
    <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dwcf02adf3/2017/assets/in-line/socks/casual/blue/men/evel-knievel/men-evel-knievel-primary_lg.jpg" alt="Men's Evel Knievel Socks">
    <div class="home-jumbotron-text">
      <p class="home-subheading capital regular">Evel Knievel</p>
      <p class="home-heading capital condensed">American Daredevil</p>
      <p class="home-text regular">Evel Knievel considered every crash a success, as long as he got up. We celebrate his legacy with designs inspired by his iconic style.</p>
      <button ui-sref="mens" href="#newArrivalLink" class="home-button bold">Shop the Collection</button>
    </div>
  </div>
  <div class="home-collection-images condensed capital">
    <div class="home-collection">
      <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dw872741aa/2017/assets/in-line/socks/casual/blue/men/americana/brian-bent-sidereal-crew/men-featured-secondary_md.jpg" alt="Image of stars and stripes">
      <p>STARS AND STRIPES</p>
    </div>
    <div class="home-collection">
      <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dwe1d3af23/2017/assets/nba/collections/legends/todd-francis/nba-legends-todd-francis-secondary_md.jpg" alt="Image of basketball legends socks">
      <p>Legends of the league</p>
    </div>
    <div class="home-collection">
      <img ui-sref="womens" src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dwe9c1966b/2017/assets/in-line/socks/casual/blue/women/crew/pink-and-cheetah/women-summer-lifestyle-secondary_md.jpg" alt="image of womens socks">
      <p>Women's new arrivals</p>
    </div>
    <div class="home-collection">
      <img ui-sref="kids" src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dwb6ebbc25/2017/assets/in-line/socks/casual/kids/dual-gender/lifestyle/chairs/kids-dual-gender-chairs-secondary_md.jpg" alt="image of kids socks">
      <p>Little feet big style</p>
    </div>
  </div>
</div>
