{{test}}
{{test2}}
<div class="" ng-repeat="p in products">
  {{p.name}}
  <img ng-src={{p.main_image_url}} />
  <img ng-src={{p.details_main_image_url}} />
  <img ng-src={{p.front_image_url}} />
  <img ng-src={{p.back_image_url}} />
</div>
</br>
</br>
<!-- <div class="" ng-repeat="p in product">
  {{p.name}}
  <img ng-src={{p.main_image_url}} />
  <img ng-src={{p.details_main_image_url}} />
  <img ng-src={{p.front_image_url}} />
  <img ng-src={{p.back_image_url}} />
</div>
</br>
</br>
<div class="" ng-repeat="p in prod">
  {{p.name}}
  <img ng-src={{p.main_image_url}} />
  <img ng-src={{p.details_main_image_url}} />
  <img ng-src={{p.front_image_url}} />
  <img ng-src={{p.back_image_url}} />
</div> -->
