<div class="home-wrapper">
  <!-- insert header directive -->

  <!-- starting jumbotron -->
  <div class="home-jumbotron-container">
    <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dwb6ebbc25/2017/assets/in-line/socks/casual/kids/dual-gender/lifestyle/chairs/kids-dual-gender-chairs-secondary_md.jpg" alt="Kids New Arrivals">
    <div class="home-jumbotron-text">
      <p class="home-subheading capital regular">New Arrivals</p>
      <p class="home-heading capital condensed">All-day Play</p>
      <p class="home-text regular">Introduce a little anarchy with heart-spotted pinks and purples, southwestern stripes, and hand-drawn monsters.</p>
      <button class="home-button bold">Shop new Arrivals</button>
    </div>
  </div>
  <div class="home-collection-images condensed capital">
    <div class="home-collection">
      <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dw659d1a4d/2017/assets/in-line/socks/casual/kids/boys/lifestyle/purple-hand/secondary_md.jpg" alt="Image of stars and stripes">
      <p>Boys</p>
    </div>
    <div class="home-collection">
      <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dw11cbe815/2017/assets/in-line/socks/casual/kids/girls/lifestyle/girls-americana/secondary_md.jpg" alt="Image of basketball legends socks">
      <p>Girls</p>
    </div>
    <div class="home-collection">
      <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dw2c8ff372/2017/assets/in-line/socks/casual/baby-toddler/boys/lifestyle/tricycle/baby-toddler-tricycle-secondary_md.jpg" alt="image of womens socks">
      <p>Baby</p>
    </div>
    <div class="home-collection">
      <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dwc0b96eb1/assets/in-line/underwear/boxer-briefs/merch/in-line-underwear-boys-secondary-new_md.jpg" alt="image of kids socks">
      <p>Boys Underwear</p>
    </div>
  </div>
</div>
<featured></featured>
<featured></featured>
<featured></featured>

{{test}}
{{test2}}
<div class="" ng-repeat="p in products">
  {{p.name}}
  <img ng-src={{p.main_image_url}} />
  <img ng-src={{p.details_main_image_url}} />
  <img ng-src={{p.front_image_url}} />
  <img ng-src={{p.back_image_url}} />
</div>
</br>
</br>
<!-- <div class="" ng-repeat="p in product">
  {{p.name}}
  <img ng-src={{p.main_image_url}} />
  <img ng-src={{p.details_main_image_url}} />
  <img ng-src={{p.front_image_url}} />
  <img ng-src={{p.back_image_url}} />
</div>
</br>
</br>
<div class="" ng-repeat="p in prod">
  {{p.name}}
  <img ng-src={{p.main_image_url}} />
  <img ng-src={{p.details_main_image_url}} />
  <img ng-src={{p.front_image_url}} />
  <img ng-src={{p.back_image_url}} />
</div> -->
