{{test}}
{{test2}}
<main class="login-wrapper">

  <section class="login-my-acc-div">
    <div class="login-my-acc-text">
      <p>my account login</p>
      <p>returning customers</p>
      <p>If you are a registered user, please enter your email and password.</p>
    </div>
    <div class="login-my-acc-inputs">
      <input type="text" placeholder="Email Address">
      <input type="text" placeholder="Password">
    </div>
    <div class="login-login">
      <button type="submit">Login</button>
      <input type="checkbox"/>
      <p>Remember Me</p>
    </div>
    <p><a href="#">Forgot Password?</a></p>
  </section>

  <section class="login-check-order-div">
    <div class="login-check-order-text">
      <p>check order</p>
      <p>See your order even if you are not a registered user. Enter the order number and the billing address ZIP code.</p>
    </div>
    <div class="login-check-order-inputs">
      <input type="text" placeholder="Order Number">
      <input type="text" placeholder="Order Email">
      <input type="text" placeholder="Billing Zip Code">
    </div>
    <div class="login-check-order-button">
      <p>For International Orders, please contact customer service.</p>
      <button type="submit">Check Status</button>
    </div>
  </section>

  <section class="login-new-Customer-div">
    <p>new customers</p>
    <p>Creating an account is easy, and you'll enjoy the benefits of faster checkout, order history, a wish list and more.</p>
    <button type="submit">Create Account Now</button>
  </section>

  <section class="login-benefits-div">
    <p>Benefits of Creating an Account</p>
    <div class="login-benefits-sub">
      <p>News and exclusive offers!</p>
      <p>Sign up to receive email updates on special promotions, new product announcements, gift ideas and more.</p>
    </div>
    <div class="login-benefits-sub">
      <p>Order History</p>
      <p>Receive important information about your order. You can even track it up to the minute it arrives.</p>
    </div>
    <div class="login-benefits-sub">
      <p>Faster Checkout</p>
      <p>Save your billing and shipping information to make it easier to buy your favorite gear.</p>
    </div>
  </section>

  <section class="login-acc-settings-div">
    <div class="login-my-acc">
      <p><a href="#">My Account</a></p>
    </div>
    <div class="login-settings-confidently">
      <div class="login-settings-sub">
        <p>account settings</p>
        <p><a href="#">Create Account</a></p>
      </div>
      <div class="login-settings-sub">
        <p>shop confidently</p>
        <p><a href="#">Privacy Policy</a></p>
      </div>
    </div>

    <div class="login-help-div">
      <div class="login-help">
        <p>need help?</p>
      </div>
      <div class="login-help-questions">
        <p>If you have any question or need help with your account, you may <a href="#" class="login-contact">Contact Us<a> to assist you.</p>
          <p>Customer Service</p>
          <p>MON-THUR 7A - 5P PST</p>
          <p>FRI 7A - 4P PST</p>
          <p>1 (888) 391-9020</p>
          <p>info@stance.com</p>
      </div>
    </div>
  </section>

</main>
