<main class="order-wrapper">
  <section class="order-info">
    <p class="order-heading capital condensed">order history</p>
    <p class="order-total-items regular">1 - 1 Items</p>

    <div class="order-info-div" ng-repeat="order in orders">
      <div class="order-small-div"></div>
      <div class="order-info">
        <div class="order-status">
          <div class="order-status-status">
            <p><span class="bold">Date Ordered:</span>               </p>
            <p><span class="bold">Order Status:</span>               </p>
            <p><span class="bold">Order Number:</span>               </p>
          </div>
          <button type="submint" name="button" class="bold">Order Details</button>
        </div>
        <div class="order-product-info">
          <div class="order-status-2">
            <p class="order-status-subheading bold">Shipped to:</p>
            <p>{{order.name}}               </p>
          </div>
          <div class="order-status-2">
            <p class="order-status-subheading bold">Items:</p>
            <p class="capital"> socks      </p>
          </div>
          <div class="order-status-2">
            <p class="order-status-subheading bold">Order Total:                </p>
            <p>$24.99</p>
          </div>
        </div>
      </div>
    </div>

    <p class="order-total-items regular">1 - 1 Items</p>
  </section>

  <section class="order-directives">
    <div class="user-data-directive">
      <user-data-directive></user-data-directive>
    </div>

    <div class="help-directive">
      <help-directive></help-directive>
    </div>
  </section>
</main>
