<main class="single-wrapper regular" ng-repeat="p in singleProduct">
  <section class="single-images">
    <div class="single-main-image" ng-if="pic1">
      <img src={{p.main_image_url}} alt="socks" />
    </div>
    <div class="single-main-image" ng-if="pic2">
      <img src={{p.front_image_url}} alt="socks" />
    </div>
    <div class="single-main-image" ng-if="pic3">
      <img src={{p.back_image_url}} alt="socks" />
    </div>

    <div class="single-image-views">
      <div ng-click="showHide('pic1')" ng-class="{'opaque': !pic1, pic2, pic3}">
        <img class="single-pic1" ng-src={{p.main_image_url}} />
      </div>
      <div ng-click="showHide('pic2')" ng-class="{'opaque': !pic2, pic1, pic3}">
        <img class="single-pic2" ng-src={{p.front_image_url}} />
      </div>
      <div ng-click="showHide('pic3')" ng-class="{'opaque': !pic3, pic1, pic2}">
        <img class="single-pic3" ng-src={{p.back_image_url}} />
      </div>
    </div>
  </section>

  <section class="single-info">
    <p class="single-name capital condensed">{{p.name}}</p>
    <p class="single-collection">{{p.collection}}</p>
    <p class="bold single-price">{{p.price | currency}}</p>
    <select class="single-box single-size" name="">
      <option value="">Select Size</option>
      <option value="" selected>Small</option>
      <option value="">Medium</option>
      <option value="">Large</option>
    </select>
    <div class="single-qty">
      <p class="bold">QTY</p>
      <input class="single-box bold" type="text" name="" value="1" />
    </div>
    <p class="single-availability"><span class="bold">Availability:</span> In Stock</p>
    <button class="bold" type="button" name="button">Add to Cart</button>
    <div class="single-wish-fit">
      <div class="single-wishlist single-child">
        <i class="fa fa-heart fa-lg" aria-hidden="true"></i>
        <p>Save to Wish List</p>
      </div>
      <div class="single-fit single-child">
        <img src="./images/lines.png" alt="cascading lines">
        <p>Size and Fit Guide</p>
      </div>
    </div>
    <div class="single-contact">
      <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-pinterest fa-lg" aria-hidden="true"></i></a>
      <i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>
    </div>
  </section>

  <section class="single-featured">
    <p class="capital condensed single-like">you might also like</p>
    <div class="featuredSocks">
      <div class="featured-items-container">
        <div class="featured-item">
          <img class="featured-image" src="http://demandware.edgesuite.net/sits_pod41/dw/image/v2/BBBN_PRD/on/demandware.static/-/Sites-masterCatalog_Stance/default/dwc26e758d/prod_images/M526B17POO_RST.jpg?sw=450&amp;sh=720&amp;sm=fit" alt="POOLBOY">
          <hr class="line-under-featured-image">
          <p class="featured-item-name capital condensed">Pool Boy</p>
          <p class="featured-item-style regular">Classic Light</p>
          <p class="condensed">$15.00</p>
        </div>
        <div class="featured-item">
          <img class="featured-image" src="http://demandware.edgesuite.net/sits_pod41/dw/image/v2/BBBN_PRD/on/demandware.static/-/Sites-masterCatalog_Stance/default/dwc26e758d/prod_images/M526B17POO_RST.jpg?sw=450&amp;sh=720&amp;sm=fit" alt="POOLBOY">
          <hr class="line-under-featured-image">
          <p class="featured-item-name capital condensed">Pool Boy</p>
          <p class="featured-item-style regular">Classic Light</p>
          <p class="condensed">$15.00</p>
        </div>
        <div class="featured-item">
          <img class="featured-image" src="http://demandware.edgesuite.net/sits_pod41/dw/image/v2/BBBN_PRD/on/demandware.static/-/Sites-masterCatalog_Stance/default/dwc26e758d/prod_images/M526B17POO_RST.jpg?sw=450&amp;sh=720&amp;sm=fit" alt="POOLBOY">
          <hr class="line-under-featured-image">
          <p class="featured-item-name capital condensed">Pool Boy</p>
          <p class="featured-item-style regular">Classic Light</p>
          <p class="condensed">$15.00</p>
        </div>
        <div class="featured-item">
          <img class="featured-image" src="http://demandware.edgesuite.net/sits_pod41/dw/image/v2/BBBN_PRD/on/demandware.static/-/Sites-masterCatalog_Stance/default/dwc26e758d/prod_images/M526B17POO_RST.jpg?sw=450&amp;sh=720&amp;sm=fit" alt="POOLBOY">
          <hr class="line-under-featured-image">
          <p class="featured-item-name capital condensed">Pool Boy</p>
          <p class="featured-item-style regular">Classic Light</p>
          <p class="condensed">$15.00</p>
        </div>
      </div>
    </div>
  </section>

</main>
