
<div class="home-wrapper">
  <!-- insert header directive -->

  <!-- starting jumbotron -->
  <div class="home-jumbotron-container">
    <picture>
            <source media="(min-width: 1440px)" srcset="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dwc996a8b0/2017/assets/in-line/socks/casual/blue/women/crew/pink-and-cheetah/women-summer-lifestyle-primary_lg.jpg">
            <source media="(min-width: 750px)" srcset="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dw2d3349b9/2017/assets/in-line/socks/casual/blue/women/crew/pink-and-cheetah/women-summer-lifestyle-primary_md.jpg">
            <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dwe9c1966b/2017/assets/in-line/socks/casual/blue/women/crew/pink-and-cheetah/women-summer-lifestyle-secondary_md.jpg" alt="Women's New Arrivals">
    </picture>
    <div class="home-jumbotron-text">
      <p class="home-subheading capital regular">New Arrivals</p>
      <p class="home-heading capital condensed">This just in</p>
      <p class="home-text regular">Shorter silhouettes, brighter designs, and new collections, just in time for warmer weather.</p>
      <button class="home-button bold">Shop New Arrivals</button>
    </div>
  </div>
  <div class="home-collection-images condensed capital">
    <div class="home-collection">
      <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dw6751ee85/2017/assets/in-line/socks/casual/blue/women/americana/americana-bike/women-americana-bike-secondary_md.jpg" alt="Image of stars and stripes">
      <p>STARS AND STRIPES</p>
    </div>
    <div class="home-collection">
      <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dw2f07cc85/2017/assets/mlb/collections/mlb-women/stripes/womens-mlb-secondary_md.jpg" alt="Image of basketball legends socks">
      <p>Introducing women's mlb</p>
    </div>
    <div class="home-collection">
      <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dw12393bfd/2017/assets/in-line/socks/performance/fusion-athletic/training-low-jacket/women-training-low-secondary_md.jpg" alt="image of womens socks">
      <p>Train with the best</p>
    </div>
    <div class="home-collection">
      <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dw7b90b5b8/2017/assets/in-line/socks/premium/reserve/women/lifestyle/reserve-mesh/women-reserve-mesh-secondary_md.jpg" alt="image of kids socks">
      <p>Channel style and grace</p>
    </div>
  </div>
</div>

<featured></featured>
<featured></featured>
<featured></featured>
<punks-and-poets></punks-and-poets>

{{test}}
{{test2}}
<div class="" ng-repeat="p in products">
  {{p.name}}
  <img ng-src={{p.main_image_url}} />
  <img ng-src={{p.details_main_image_url}} />
  <img ng-src={{p.front_image_url}} />
  <img ng-src={{p.back_image_url}} />
</div>
</br>
</br>
<div class="" ng-repeat="p in product">
  {{p.name}}
  <img ng-src={{p.main_image_url}} />
  <img ng-src={{p.details_main_image_url}} />
  <img ng-src={{p.front_image_url}} />
  <img ng-src={{p.back_image_url}} />
</div>
</br>
</br>
<div class="" ng-repeat="p in prod">
  {{p.name}}
  <img ng-src={{p.main_image_url}} />
  <img ng-src={{p.details_main_image_url}} />
  <img ng-src={{p.front_image_url}} />
  <img ng-src={{p.back_image_url}} />
</div>
