@font-face {

  font-family: "regular";
  src: url(./Akzidenz-Grotesk/Akzidenz-grotesk-light.ttf)
}

@font-face {

  font-family: "bold";
  src: url(./Akzidenz-Grotesk/Akzidenz-grotesk-black.ttf)
}

@font-face {

  font-family: "condensed";
  src: url(./Akzidenz-Grotesk/Akzidenz-grotesk-r-condensed-medium-5920a5e93625a.ttf)
}
