.container-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  p {
    color: grey;
  }
}

.continue-shopping-link {
  font-size: 14px;
  margin-left: 20px;
  padding-bottom: 15px;
  // border-bottom: 1px solid lightgrey;
  width: 90%;
}

.products-list-wrapper {
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
  // margin-bottom: 100px;
}

.product {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // border: 1px solid green;
  margin-left: 15px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 20px;
  padding-right: 5px;
}


.product-left {
  // border: 1px solid green;
  width: 70%;

  .product-image {
    margin-right: 10%;
    // border: 2px solid yellow;
    display: flex;
    justify-content: center;
    width: 100%;
    }
}

.product-right {
  // border: 1px solid blue;
  width: 90%;

  .product-details {
    width: 100%;
    // border: 2px solid blue;
    margin-right: 20%;

    h3 {
      // font-weight: bolder;
      font-size: 22px;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }
    p {
      color: grey;
      font-size: 13px;
      line-height: 17px;
      font-weight: bold;
      letter-spacing: 1.5px;
    }
    a {
      font-size: 14px;
      text-decoration: none;
      color: #0484A9;
    }
    a:hover{
      text-decoration: underline;
    }

  }

  .input-box {
    // width: 50%;
    display: flex;
    flex-direction: column;
    // margin-left: 46%;
    // border: 2px solid yellow;

    label {
      margin-top: 5px;
      margin-left: 5px;
      margin-bottom: 20px;
      font-size: 13px;
    }

    input {
      height: 45px;
      // width:200%;
      margin-bottom: 20px;
      padding-left: 20px;
      font-weight: bold;
    }
    input:focus {
      border: 1px solid black;
      outline: none;
    }
  }

  .price-details-wrapper {
    display: flex;
    justify-content: space-between;
    // border: 1px solid blue;

    .quantity-text {
      font-size: 14px;
      color: grey;
      font-weight: bold;

      h6 {
        margin-bottom: 5px;
      }
    }

    .price {
      font-size: 14px;
      color: grey;

      h1 {
        margin-bottom: 30px;
        color: #0484A9;
        font-weight: bold;
      }
      h2 {
        margin-left: -10px;
        margin-bottom: 15px;
      }
      h3 {
        font-family: "regular";
        color: gray;
      }
    }
  }
}/*end product right*/


  .cart-total {
    display: flex;
    // justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    // border: 1px solid red;
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 25px;
    font-size: 15px;

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .dotted-dash {
      height: 2px;
      width: 110%;
      border-bottom: 1px dashed lightgrey;
    }

    .subtotal {
      display: flex;
      flex-direction: row;
      // border: 1px solid blue;
      width: 275px;
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
      font-weight: bold;
    }
    .shipping {
      display: flex;
      flex-direction: row;
      // border: 1px solid blue;
      width: 275px;
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
    }
    .tax {
      display: flex;
      flex-direction: row;
      // border: 1px solid blue;
      width: 275px;
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
    }
    .est-total {
      display: flex;
      flex-direction: row;
      // border: 1px solid blue;
      width: 275px;
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
      font-weight: bold;
    }
  }/*end cart total*/

  .checkout-section {
    width: 100%;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    // border: 1px solid green;

    p {
      // color: black;
      text-align: center;
    }


    input {
      width: 95%;
      height: 50px;
      padding-left: 25px;
    }
    input:focus {
      border: 1px solid black;
      outline: none;
    }

    button {
      height: 50px;
      width: 95%;
      text-align: center;
      p {
        font-size: 14px;
        color: black
      }
      h1 {
        font-size: 14px;
      }
    }
    button:focus {
      border: 1px solid black;
      outline: none;
    }

    #black-btn{
      background-color: #1A1A1A;
      color: white;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .apply-update-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #update-btn {
      border: 1px solid #1A1A1A;
      background-color: white;
      color: #1a1a1a;
    }

    .checkout-btn {
      display: flex;
      button {
        width: 95%;
        display: flex;
        justify-content: center;
      }
    }
  }

  .recommend-section {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-self: center;
    // margin-left: 5px;
    margin-top: 25px;
    width: 95%;
    // border: 1px solid red;

    .recommend-title {
      font-size: 26px;
      letter-spacing: 1.75px;
      padding-left: 5px;
    }

    .recommend-items {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      // border: 1px solid blue;
    }

    .item {
      height: 316px;
      width: 175px;
      display: flex;
      justify-content: center;
      // align-items: center;
      align-self: center;
      flex-direction: column;


      img {
        display: flex;
        align-self: center;
        height: 140px;
        width: 140px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgrey;
      }
      h1 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
      h3 {
        font-size: 13px;
        color: grey;
        margin-bottom: 10px;
      }
      p {
        color: black;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

.desktop-content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  .table-column-titles {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // align-items: center;
    // border: 1px solid green;
    padding-bottom: 10px;
    margin-bottom: 20px;
    p {
      color: black;
      font-size: 18px;
    }
  }

  .products-list-wrapper {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .individual-product {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 50px;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    // border: 1px solid green;
  }
  .one {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    .product-details {
      line-height: 14px;
      margin-left: 20px;
        // border: 1px solid orange;
      h3 {
        font-size: 24px;
        margin-bottom: 10px;
        letter-spacing: 1.5px;
        line-height: 26px;
      }
      p {
        font-size: 13px;
        line-height: 17px;
        font-weight: bold;
      }
      a {
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        color:  #0484A9;
      }
    }
  }
  .two {
    // border: 1px solid blue;
    width: 20%;
    display: flex;
    flex-direction: row;
    input {
      width: 65px;
      height: 45px;
      margin-right: 10px;
      padding-left: 15px;
    }
    input:focus{
      border: 1px solid black;
      outline: none;
    }
    .quantity-text {
      color: grey;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h6 {
        font-size: 13px;
        margin-bottom: 5px;
      }
      h1 {
        font-size: 14px;
      }
    }
  }

  .three-four-wrapper {
    // border:1px solid red;
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  .price-section {
      display: flex;
      flex-direction: column;
      // border: 1px solid green;
      h3 {
        color: grey;
        font-family: "regular";
      }
      h1 {
        color: #0484A9;
      }
    }
  .total-section {
    color: grey;
  }

  .cart-total-section {
    width: 100%;
    margin-top: 10px;
    // border: 1px solid black;
    .left {
      // border: 1px solid red;
      input {
        height: 50px;
        width: 200px;
        padding-left: 20px;
        font-weight: bold;
        font-size: 14px;
      }
      input:focus{
        border: 1px solid black;
        outline: none;
      }
      button {
        height: 50px;
        font-weight: bold;
        font-size: 13px;
        p {
          color: black;
        }
      }
      button:focus{
        border: 1px solid black;
        outline: none;
      }
      #black-btn {
        width: 100px;
        background-color: black;
        color: white;
        border: none;
      }
      #update-btn {
        width: 150px;
        border: 1px solid black;
        background-color: white;
      }
    }
    .right {
      width: 30%;
      float: right;
      // border: 1px solid blue;
      button {
        float: right;
        height: 50px;
        width: 150px;
        background-color: black;
        color: white;
        border: none;
        p {
          color:white;
          font-size: 15px;
          font-weight: bold;
        }
      }
      button:focus {
        outline: none;
      }
    }
  }
  .recommend-section {
    .recommend-title {
      h2 {
        font-size: 24px;
      }
    }
  }
}





@media (min-width:470px){
  .retail {
    margin-left: -60px;
  }

  .sale {
    margin-top: -14px;
  }

  .subtotal {
    margin-top: 50px;
  }
}

@media (min-width: 769px) {
  .main-content-wrapper {
    display: none;
  }
}

@media (max-width:768px) {
  .table-column-titles p {
    display: none;
  }
  .desktop-content-wrapper {
    display: none;
  }
}
