@media(min-width: 1200px){
  .checkout-container{
    width: 1200px;
    margin: auto;
  }
}

@media(max-width: 768px){
  .checkout-container{
    flex-direction: column;
  }
}

@media(min-width: 768px){

}

.checkbox{
  -webkit-appearance: none;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 8px;
	border-radius: 0px;
	display: inline-block;
	position: relative;
  outline: none;
}

.checkbox:focus{
  	border: 1px solid black;
}

.checkbox:checked{
  background-color: black;
	color: white;
}

.checkbox:checked::after{
    content: '\2714';
  	font-size: 12px;
  	position: absolute;
  	top: 0px;
  	left: 3.5px;
  	color: white;
}

.checkout-container{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  .checkout-shipping-container{
    .checkout-steps{
      display: none;
      width: 100%;
      justify-content: space-around;
      margin-bottom: 30px;
    }
    .checkout-input-title{
      margin-top: 5px;
      margin-bottom: 30px;
      letter-spacing: 2px;
      font-size: 26px;
      line-height: 20px;
    }
    .checkout-input-form{
      margin-bottom: 50px;
      label{
        display: block;
        font-family: bold;
        font-size: 12px;
      }
      input[type="text"], select{
        font-family: bold;
        font-size: 13px;
        display: block;
        border: 1px solid rgba(0,0,0,0.1);
        width: 100%;
        height: 48px;
        margin-bottom: 20px;
        background: white;
        padding: 0 20px;
      }
      input[type="text"]:focus, select:focus{
        border: 1px solid black;
        outline: none;
      }
      .checkout-checkbox{
        display: flex;
        align-items: center;
        margin: 30px 0;
        p{
          font-family: bold;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .checkout-example-phone-container{
        position: relative;
        margin-bottom: 50px;
        .checkout-example-phone{
          position: absolute;
          top: -14px;
          left: 4px;
          font-size: 12px;
          color: gray;
        }
      }
      .checkout-gift-title{
        font-family: bold;
        font-size: 12px;
      }
      .checkbox-gift-radio-container{
        display: flex;
        font-family: bold;
        font-size: 12px;
        margin-right: 10px;
        .checkbox-gift-radio-option{
          display: flex;
          align-items: center;
          margin: 5px 25px 0 0;
          input{
            background: white;
            height: 10px;
            width: 10px;
            margin-right: 15px;
          }
        }
      }
    }
    .checkout-shipping-option-form{
      .checkout-shipping-option{
        display: flex;
        padding: 20px 0;
        margin-bottom: 20px;
        input{
          margin-right: 10px;
        }
      }
    }
    .checkout-button{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      border: none;
      height: 48px;
      padding: 0px 28px;
      color: white;
      background: black;
      margin-bottom: 50px;
    }
  }
  .checkout-order-container{
    .checkout-order-summary-title{
      margin-bottom: 30px;
      letter-spacing: 2px;
      font-size: 26px;
      line-height: 22px;
    }
    .checkout-order-summary-title-container{
      display: flex;
      justify-content: space-between;
    }

    .checkout-order-summary-container{
      border: 1px solid rgba(0,0,0,0.1);
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      .checkout-order-item-container{
        padding: 5px;
        display: flex;
        .chec
        img{
          width: 35%;
        }
        .checkout-order-item-title{
          font-size: 20px;
          letter-spacing: 1px;
        }
        .checkout-order-item-description{
          font-size: 12px;
        }
      }
      .checkout-order-total-container{
        background: rgba(0,0,0,0.1);
        .checkout-order-total-column{
          padding: 5px;
          display: flex;
          color: gray;
          font-size: 14px;
        }
        .checkout-order-total-column:nth-of-type(1){
          font-family: bold;
        }
        .checkout-order-total-column:nth-of-type(4){
          font-family: bold;
        }
        .checkout-order-total-column p:nth-of-type(1){
          width: 70%;
          text-align: right;
        }
        .checkout-order-total-column p:nth-of-type(2){
          width: 30%;
          text-align: center;
        }
      }
    }
    .checkout-order-summary-container{
      display: flex;
      justify-content: space-between;
    }
  }
}
