@media (max-width: 768px) {
  .featured-item{
    width: 50%;
  }
}

@media (min-width: 768px) {
  .featured-item{
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .featuredSocks{
    width: 1200px;
  }
}

.featuredSocks{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 90px;
  .featured-title{
    font-size: 36px;
    letter-spacing: 2.5px;
    margin-bottom: 42px;
  }
  .featured-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    border: none;
    height: 48px;
    padding: 0px 28px;
    color: white;
    background: black;
    margin-bottom: 20px;
  }
  .featured-button:hover{
    background: #3B3B3F;
    transition: 0.5s
  }
  .featured-items-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .featured-item{
      padding: 1.25rem;
      img{
        display: flex;
        margin: auto;
        width: 100%;
        margin-bottom: 22px;
        max-height: 215px;
        max-width: 215px;
      }
      .line-under-featured-image{
        background-color: rgba(0,0,0,0.03);
        color: rgba(0,0,0,0.03);
        border-color: rgba(0,0,0,0.03);
        margin-bottom: 18px;
      }
      .featured-item-name{
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 8px;
      }
      .featured-item-style{
        font-size: 12px;
        color: gray;
        margin-bottom: 20px;
      }
    }
  }
}
