@import "fonts";
.regular{
  font-family: "regular";
}

.condensed{
  font-family: "condensed";
}

.bold{
  font-family: "bold";
}

.capital{
  text-transform: uppercase;
}





.header-men-hover {
  position: absolute;
  border-top-color:#F2F2F2;
  border-top-width:1.5px;
  border-top-style: solid;
  background-color: white;
  top: 140px;
  width: 100%;
  height: 435.6px;
  z-index: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: regular;
  font-weight: 300;

}


.header-hover-title:hover {
    cursor: pointer;
  }


.header-hover-title {
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
  border-right-color: #F2F2F2;
  border-right-style: solid;
  border-right-width: 1.5px;
  padding-bottom: 20px;
  color: #7B7B91;


  .header-hover-list {
    margin-top: 35px;


    .hover-list-items:hover {
        cursor: pointer;
        text-decoration: underline;
      }

    .hover-list-items {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
}







.header-women-hover {
  position: absolute;
  border-top-color:#F2F2F2;
  border-top-width:1.5px;
  border-top-style: solid;
  background-color: white;
  top: 140px;
  width: 100%;
  height: 391.2px;
  z-index: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: regular;

}



.header-kids-hover {
  position: absolute;
  border-top-color:#F2F2F2;
  border-top-width:1.5px;
  border-top-style: solid;
  background-color: white;
  top: 140px;
  width: 100%;
  height: 318px;
  z-index: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: regular;

}



.header-underwear-hover {
  position: absolute;
  border-top-color:#F2F2F2;
  border-top-width:1.5px;
  border-top-style: solid;
  background-color: white;
  top: 140px;
  width: 100%;
  height: 259.2px;
  z-index: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: regular;

}





.header-discover-hover {
  position: absolute;
  border-top-color:#F2F2F2;
  border-top-width:1.5px;
  border-top-style: solid;
  background-color: white;
  top: 140px;
  width: 100%;
  height: 122.6px;
  z-index: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: regular;

}









.header-container {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  font-family: regular;


  .header-left {
    padding-left: 150px;

    .american-flag {
        cursor: pointer;

      }


    .header-left-top {
      font-family: regular;
      font-size: 12px;
      display: flex;
      align-items: center;
      padding-top: 18px;






        .american-flag {
          margin-left: 30px;
          width: 25px;
          height: 15px;

      }


        small:hover {
          cursor: pointer;
          text-decoration: underline;
        }

        small {
          color: #7B7B82;
          margin-left: 10px;
      }
  }


  .header-left-bottom:hover {
      cursor: pointer;
    }

  .header-left-bottom {
    padding-top: 45px;
  }

}

  .header-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 55%;
    font-family: bold;


    .header-middle-top {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 11px;
      font-weight: 100;
      color: #0484A9;
      padding-top: 26px;
      width: 192px;
      height: 50px;


  }

    .header-middle-bottom {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 11px;
      margin-top: 50px;
      padding-bottom: 5px;
      margin-left: 60px;
      padding-right: 30px;
      color: #7B7B91;

      a:hover {
          cursor: pointer;
          text-decoration: underline;
        }

      a {
        display: flex;
        justify-content: center;
        height: 67.4px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
      }


  }
}


  .header-right {


    .header-right-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 18px;
      font-family: regular;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-right: 50px;


      .header-right-top-left:hover {
          cursor: pointer;
        }

      .header-right-top-left {
        color: #7B7B91;
        font-size: 16px;
        padding-right: 15px;
      }

      .header-right-top-middle1:hover {
          cursor: pointer;
          text-decoration: underline;
        }

      .header-right-top-middle1 {
        color: #7B7B91;
        font-size: 12px;
      }



      .header-right-top-middle2:hover {
          cursor: pointer;
        }

      .header-right-top-middle2 {
        font-size: 16px;
        padding-left: 35px;
      }


      .header-right-top-right:hover {
          cursor: pointer;
        }


      .header-right-top-right {
        font-size: 16px;
        padding-left: 10px;
      }
    }

    .header-right-bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 45px;
      padding-left: 117px;
      font-size: 11.5px;
      font-family: regular;
      color: #7B7B91;
      font-weight: 300;


      .header-right-bottom-left {
        font-size: 14px;
      }



      .header-right-bottom-right:hover {
          cursor: pointer;
        }


      .header-right-bottom-right {
        font-size: 16px;
        margin-left: 16px;
        transform: scaleX(-1);
      }
    }
  }


}


.showBorder {
  border-bottom-color: orange;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}


@media (max-width: 600px) {


}
