.help-div {
  .help {
    color: #1a1a1a;
    margin-bottom: 40px;
  }
  .help-questions {
    p {
      a {
        font-size: 12px;
      }
    }
    .help-contact {
      font-size: 13px;
    }
    .help-text-space {
      margin-bottom: 17px;
    }
  }
}
