@import "fonts";
.regular{
  font-family: "regular";
}

button{
  outline: none;
}

.condensed{
  font-family: "condensed";
}

.bold{
  font-family: "bold";
}

.capital{
  text-transform: uppercase;
}

@media(max-width: 767px) and (min-width: 539px) {
  .home-jumbotron-text{
    width: 540px;
  }
}

@media(min-width: 767px) {
  .home-collection{
    width: calc(25% - 15px);
  }
  .home-jumbotron-text{
    position: absolute;
    color: white;
  }
  .home-button{
    color: #000000;
    background: #FFFFFF;
  }
  .home-subheading{
    margin-top: 10px;
  }
  .home-jumbotron-text{
    width: 560px;
  }
  .home-button:hover{
    color: white;
    transition: 0.5s;
  }
}

@media(max-width: 767px) {
  .home-collection{
    width: calc(50% - 5px);
  }
  .home-button{
    color: #FFFFFF;
    background: #000000;
  }
  .home-subheading{
    margin-top: 2.5px;
  }
}

@media(min-width: 956px){
  .home-heading{
    font-size: 70px;
    letter-spacing: 5.3px;
  }
  .home-subheading{
    font-size: 15px;
  }
  .home-text{
    font-size: 15px;
  }
}

@media(max-width: 956px){
  .home-heading{
    font-size: 38.5px;
    letter-spacing: 2px;
  }
  .home-subheading{
    font-size: 13px;
  }
  .home-text{
    font-size: 12.5px;
  }
}

.home-wrapper{
  width: 100%;
  text-align: center;
  z-index: -500;
  .home-jumbotron-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      margin-bottom: 25px;
    }
    .home-jumbotron-text{
      text-align: center;
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .home-subheading{
        margin-bottom: 12.5px;
      }
      .home-heading{
        margin-bottom: 8px;
      }
      .home-text{
        letter-spacing: 0.03em;
        margin-bottom: 18px;
        line-height: 18px;
      }
      .home-button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        border: none;
        height: 48px;
        padding: 0 28px;
        margin-bottom: 40px;
      }
      .home-button:hover{
        background: #3B3B3F;
        transition: 0.5s;
      }
    }
  }
  .home-collection-images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 15px;
    .home-collection{
      color: #1A1A1A;
      img{
        width: 100%;
        margin-bottom: 3px;
      }
      p{
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 1.5px;
        margin-bottom: 10px;
      }
    }
  }
}
