@media(max-width: 768px){
  .featured-item-3{
    width: 50%;
  }
  .inventory-input-container{
    display: none;
  }
  .inventory-category-title{
    font-size: 20px;
  }
}

@media(min-width: 768px){
  .inventory-input-container{
    width: 28%;
  }
  .inventory-output-container{
    width: 68%;
  }
  .featured-item-3{
    width: 33%;
  }
  .inventory-category-title{
    font-size: 22px;
  }
}

@media(min-width: 1200px){
  .inventory-page-container{
    width: 1200px;
    margin: auto;
  }
}

.red{
  background: red;
}

.blue{
  background: blue;
}

.pink{
  background: pink;
}

.green{
  background: green;
}

.inventory-page-container{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  .inventory-input-container{
    .inventory-category-title{
      letter-spacing: 2px;
      color: black;
      line-height: 26px;
      border-bottom: 1px solid rgba(0,0,0,0.1);

      padding-bottom: 10px;
    }
    .inventory-category{
      font-size: 14px;
      line-height: 30px;
      color: gray;
      letter-spacing: 0.03rem;
    }
    .inventory-category-selected{
      color: black;
      font-family: "bold";
    }
    .inventory-category-subcategory{
      margin-left: 18px;
    }
    #inventory-first-category{
      margin-top: 4px;
    }
    #inventory-last-category{
      margin-bottom: 4px;
    }
    .inventory-filter-option{
      border-bottom: 1px solid rgba(0,0,0,0.1);
      .inventory-filter-option-top{
        display: flex;
        justify-content: space-between;
        .inventory-filter-title{
          line-height: 60px;
          font-size: 14px;
        }
        button{
          background: transparent;
          border: none;
          outline: none;

        }
      }
      .inventory-filter-option-bottom{
        .checkout-checkbox{
          display: flex;
          align-items: center;
          margin: 0 0 30px 0;
          input{
            margin-top: -5px;
            margin-right: 20px;
            float: left;
          }
          p{
            font-family: bold;
            font-size: 12px;
            line-height: 16px;
          }
        }
        .inventory-color-filter{
          display: flex;
          margin: 0 0 30px 10px;
          .inventory-color-circle{
            height: 25px;
            width: 25px;
            margin-right: 20px;
            border-radius: 50%;
          }
        }
        .inventory-size-filter{
          display: flex;
          margin: 0 0 30px 10px;
          p{
            font-family: "regular";
            font-size: 14px;
            border: 1px solid rgba(0,0,0,0.1);
            padding: 20px 20px;
            color: gray;
          }
        }
      }
    }
  }
  .inventory-output-container{
    img{
      width: 100%;
      margin-bottom: 42px;
    }
    .inventory-output-category{
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      .inventory-category-title{
        letter-spacing: 2px;
      }
      .inventory-category-item-count{
        font-size: 11px;
        line-height: 25px;
        letter-spacing: 0.03rem;
      }
    }
    .inventory-output-filter{
      display: flex;
      justify-content: space-between;
      margin-bottom: 0px;
      .inventory-filter-dropdown-nav{
        height: 48px;
        display: flex;
        font-size: 12px;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        width: calc(50% - 5px);
        border: 1px solid rgba(0,0,0,0.1);
      }
      .inventory-sort-option{
        width: calc(50% - 5px);
        padding-left: 10px;
        border: 1px solid rgba(0,0,0,0.1);
        height: 48px;
        border-radius: 0;
        background: transparent;
      }
    }
    .featuredSocks-3{
      display: flex;
      flex-direction: column;
      align-items: center;
      .featured-items-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .featured-item-3{
          padding: 10px;
          img{
            display: flex;
            margin: auto;
            width: 100%;
            margin-bottom: 22px;
            max-height: 215px;
            max-width: 215px;
          }
          .line-under-featured-image{
            background-color: rgba(0,0,0,0.03);
            color: rgba(0,0,0,0.03);
            border-color: rgba(0,0,0,0.03);
            margin-bottom: 18px;
          }
          .featured-item-name{
            font-size: 20px;
            letter-spacing: 1px;
            margin-bottom: 8px;
          }
          .featured-item-style{
            font-size: 12px;
            color: gray;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
