@media(min-width: 768px){
  .kids-carousel-container{
    display: flex;
    justify-content: space-between;
  }
  .kids-carousel-top{
    width: 20%;
    justify-content: center;
    align-items: flex-start;
  }
  .kids-carousel-text{
    text-align: left;
  }
  .kids-carousel-bottom{
    width: 75%;
  }
  .kids-carousel-title{
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 34px;
  }
  .kids-carousel-arrows{
    display: flex;
  }
}

@media(max-width: 768px){
  .kids-carousel-top{
    align-items: center;
  }
  .kids-carousel-text{
    text-align: center;
  }
  .kids-carousel-title{
    font-size: 24.5px;
    letter-spacing: 2px;
    line-height: 21px;
  }
  .kids-carousel-arrows{
    display: none;
  }
}

@media(min-width: 1200px){
  .kids-carousel-container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}


.kids-carousel-container{
  padding: 0 10px;
  margin-top: 74px;
  margin-bottom: 74px;
  .kids-carousel-top{
    display: flex;
    flex-direction: column;
    .kids-carousel-title{
      margin-bottom: 20px;
    }
    .line-under-kids-carousel-title{
      width: 100px;
      height: 4px;
      background: black;
      margin-bottom: 40px;
    }
    .kids-carousel-text{
      letter-spacing: 0.03em;
      font-size: 12.5px;
      line-height: 18px;
      margin-bottom: 40px;
    }
    .kids-carousel-button{
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      color: white;
      font-size: 13px;
      border: none;
      height: 48px;
      padding: 0 28px;
      margin-bottom: 50px;
    }
  }
  .kids-carousel-bottom{
    position: relative;
    .kids-carousel-bottom-description{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 10px;
      .line-in-kids-carousel-bottom-description{
        width: 100px;
        height: 4px;
        margin-right: 35px;
        background: black;
      }
      .kids-carousel-description{
        font-size: 14px;
      }
    }
  }
}

kids-carousel{
  .carousel-wrapper{
    width: 100%;
    margin: auto;
    .carousel{
      float: right;
      width: 94%;
      .slide{
        margin-right: 50px;
        img{
          width: 100%;
          height: auto;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.kids-carousel-arrows{
  position: absolute;
  top: 100%;
  right: 0;
  width: 124px;
  height: 46px;
  margin-top: -30px;
  .kids-carousel-arrow{
    border: none;
    outline: none;
    background: transparent;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .kids-carousel-arrow:nth-of-type(1){
    border-right: 1px solid rgba(0,0,0,0.1);
  }
  .kids-carousel-arrow:focus{
    border: 1px solid black;
  }
  .kids-carousel-arrow:hover{
    border: 1px solid rgba(0,0,0,0.1);
  }
  .kids-carousel-arrow:hover{
    border: 1px solid rgba(0,0,0,0.1);
  }
  .kids-carousel-arrow:active{
    background: black;
    i{
      color: white;
    }
  }
}
