<div class="footer-container">
  <div class="footer1">
    <div class="footer1-left">

    </div>
    <div class="footer1-right">

    </div>
  </div>


  <div class="footer2">
    <div class="footer2-left">
      <div class="">
        <h4 class="footer2-title">BE THE FIRST TO KNOW</h4>
      </div>
      <div class="footer2-content">
        <input type="text" name="" placeholder="Email address">
        <button type="button" name="button">Join</button>
      </div>
    </div>




    <div class="footer2-right">
      <div class="footer2-right-locator">
        <h4 class="footer2-title">STORE LOCATOR</h4>
        <div class="">
          <button type="button" name="button" id="find-button">Find Store</button>
        </div>
      </div>


      <div class="footer2-right-contact">
        <h4 class="footer2-title">CONTACT</h4>
        <div class="footer2-contact-info">
          <h5><b>Email</b> info@stance.com</h5>
          <br>
          <h5><b>Call</b> (888) 391-9020</h5>
          <br>
          <h5><b>Text</b> (949) 391-4272</h5>
          <br>
          <br>
            <h5>Mon-Thu 7am-5pm PST</h5>
          <br>
            <h5>Fri 7am-4pm PST</h5>
          <br>
        </div>
      </div>
    </div>
  </div>


  <div class="footer3">

  </div>
</div>
