<div class="footer-container">
  <div class="footer1">
    <div class="footer1-left">
      <img src="http://www.stance.com/on/demandware.store/Sites-Stance_US-Site/default/Images-Show#stance-logo" alt="stance logo-white">
    </div>
    <div class="footer1-right">

    </div>
  </div>
  <div class="footer2">
    <div class="footer2-left">
      <div class="footer2-title">
        <p>BE THE FIRST TO KNOW</p>
      </div>
      <div class="footer2-content">

      </div>
    </div>
    <div class="footer2-middle">
      <div class="footer2-title">
        <p>STORE LOCATOR</p>
      </div>
      <div class="">

      </div>
    </div>
    <div class="footer2-right">
        <div class="footer2-title">
          <p>CONTACT</p>
        </div>
        <div class="">

        </div>
    </div>
  </div>
  <div class="footer3">

  </div>
</div>
