<!-- <div class="header-men-hover">
  <div class="header-hover-title">
    <p>FEATURED</p>
  </div>
  <div class="header-hover-title">
    <p>CASUAL</p>
  </div>
  <div class="header-hover-title">
    <p>PERFORMANCE</p>
  </div>
  <div class="header-hover-title">
    <p>PREMIUM</p>
  </div>
  <div class="header-hover-title">
    <p>SHOP BY HEIGHT</p>
  </div>
</div>

<div class="header-women-hover">

</div>

<div class="header-kid-hover">

</div>

<div class="header-underwear-hover">

</div>

<div class="header-discover-hover">

</div> -->



    <div class="header-container">
      <div class="header-left">
        <div class="header-left-top">
            <img class="american-flag" src="https://bfx-objects.borderfree.com/v1/dist/images/context-chooser/flags/US.gif" alt=""><small>1-888-391-9020</small>
        </div>
        <div class="header-left-bottom">
          <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/Sites-Stance_US-Site/-/default/v1495370486050/images/svg-icons/stance-logo.svg" alt="stance logo">
        </div>
      </div>
      <div class="header-middle">
        <div class="header-middle-top">
          <h4>FREE US SHIPPING OVER $25</h4>
        </div>
        <div class="header-middle-bottom">
            <a>MEN</a>
            <a>WOMEN</a>
            <a>KIDS</a>
            <a>UNDERWEAR</a>
            <a>DISCOVER</a>
        </div>
      </div>
      <div class="header-right">
        <div class="header-right-top">
          <div class="header-right-top-left">

            <p>Login / Register</p>
          </div>
          <div class="header-right-top-right">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
        </div>
        <div class="header-right-bottom">
          <h2>Search</h2>
          <div class="search-icon">
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="other-container">

    </div>
