<div class="header-men-hover" ng-show="showMen" ng-mouseover="showMen = true" ng-mouseleave="showMen = false">
  <div class="header-hover-title">
    <p>FEATURED</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">New Arrivals</li>
        <li class="hover-list-items">Best Sellers</li>
        <li class="hover-list-items">College Shop</li>
        <li class="hover-list-items">Disney</li>
        <li class="hover-list-items">MLB Shop</li>
        <li class="hover-list-items">NBA Shop</li>
        <li class="hover-list-items">Star Wars</li>
        <li class="hover-list-items">Last Call</li>
      </ul>
  </div>

  <div class="header-hover-title">
    <p>CASUAL</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Anthem</li>
        <li class="hover-list-items">Collections</li>
        <li class="hover-list-items">College Casual</li>
        <li class="hover-list-items">MLB Casual</li>
        <li class="hover-list-items">NBA Casual</li>
        <li class="hover-list-items">Uncommon Solids</li>
      </ul>
  </div>
  <div class="header-hover-title">
    <p>PERFORMANCE</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Adventure</li>
        <li class="hover-list-items">MLB On Field</li>
        <li class="hover-list-items">NBA On Court</li>
        <li class="hover-list-items">Basketball</li>
        <li class="hover-list-items">Run</li>
        <li class="hover-list-items">Training</li>
        <li class="hover-list-items">Golf</li>
        <li class="hover-list-items">Snow</li>
        <li class="hover-list-items">Moto</li>
        <li class="hover-list-items">Skateboarding</li>
      </ul>
  </div>
  <div class="header-hover-title">
    <p>PREMIUM</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Made in U.S.A</li>
        <li class="hover-list-items">Dress Socks</li>
        <li class="hover-list-items">The Reserve</li>
        <li class="hover-list-items">Topstitch</li>
      </ul>
  </div>
  <div class="header-hover-title">
    <p>SHOP BY HEIGHT</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Super Invisibles</li>
        <li class="hover-list-items">Low</li>
        <li class="hover-list-items">Quarter</li>
        <li class="hover-list-items">Crew</li>
        <li class="hover-list-items">Over the Calf</li>
      </ul>
  </div>
</div>



<div class="header-women-hover" ng-show="showWomen" ng-mouseover="showWomen = true" ng-mouseleave="showWomen = false">
  <div class="header-hover-title">
    <p>FEATURED</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">New Arrivals</li>
        <li class="hover-list-items">Best Sellers</li>
        <li class="hover-list-items">College Collection</li>
        <li class="hover-list-items">Disney</li>
        <li class="hover-list-items">Rihanna</li>
        <li class="hover-list-items">Gift Boxes</li>
        <li class="hover-list-items">Last Call</li>
      </ul>
  </div>

  <div class="header-hover-title">
    <p>CASUAL</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Super Invisibles</li>
        <li class="hover-list-items">Anklets</li>
        <li class="hover-list-items">Crew</li>
        <li class="hover-list-items">Knee High</li>
        <li class="hover-list-items">Thigh High</li>
        <li class="hover-list-items">Boot Socks</li>
        <li class="hover-list-items">Hosiery</li>
      </ul>
  </div>
  <div class="header-hover-title">
    <p>PERFORMANCE</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Adventure</li>
        <li class="hover-list-items">Training</li>
        <li class="hover-list-items">Run</li>
        <li class="hover-list-items">Snow</li>
        <li class="hover-list-items">Moto</li>
      </ul>
  </div>
  <div class="header-hover-title">
    <p>PREMIUM</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">The Reserve</li>
        <li class="hover-list-items">Topstitch</li>
      </ul>
  </div>
  <div class="header-hover-title">
    <p>COLLECTIONS</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">MLB</li>
        <li class="hover-list-items">Beauty and the Beast</li>
        <li class="hover-list-items">Minnie Mouse</li>
        <li class="hover-list-items">Hello Kitty</li>
        <li class="hover-list-items">Harley-Davidson</li>
        <li class="hover-list-items">Zodiac Collection</li>
        <li class="hover-list-items">Americana</li>
        <li class="hover-list-items">Uncommon Solids</li>
      </ul>
  </div>
</div>



<div class="header-kids-hover" ng-show="showKids" ng-mouseover="showKids = true" ng-mouseleave="showKids = false">
  <div class="header-hover-title">
    <p>FEATURED</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">New Arrivals</li>
        <li class="hover-list-items">Disney</li>
        <li class="hover-list-items">Americana</li>
        <li class="hover-list-items">Snow</li>
        <li class="hover-list-items">Moto</li>
        <li class="hover-list-items">Last Call</li>
      </ul>
  </div>

  <div class="header-hover-title">
    <p>BOYS</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Casual</li>
        <li class="hover-list-items">Star Wars</li>
      </ul>
  </div>

  <div class="header-hover-title">
    <p>GIRLS</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Casual</li>
        <li class="hover-list-items">Sanrio x Stance</li>
        <li class="hover-list-items">Uncommon Solids</li>
      </ul>
  </div>

  <div class="header-hover-title">
    <p>BABY</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Infant</li>
        <li class="hover-list-items">Toddler</li>
        <li class="hover-list-items">Freshly Picked</li>
      </ul>
  </div>
</div>



<div class="header-underwear-hover" ng-show="showUnderwear" ng-mouseover="showUnderwear = true" ng-mouseleave="showUnderwear = false">
  <div class="header-hover-title">
    <p>WHOLESTER</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Uncommon Solids</li>
        <li class="hover-list-items">Prints and Patterns</li>
      </ul>
  </div>

  <div class="header-hover-title">
    <p>BOXER BRIEF</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Star Wars Underwear</li>
        <li class="hover-list-items">NBA Underwear</li>
        <li class="hover-list-items">MLB Underwear</li>
        <li class="hover-list-items">Uncommon Solids</li>
      </ul>
  </div>

  <div class="header-hover-title">
    <p>BOXER</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Uncommon Solids</li>
        <li class="hover-list-items">Prints and Patterns</li>
      </ul>
  </div>

  <div class="header-hover-title">
    <p>BOYS UNDERWEAR</p>
      <ul class="header-hover-list">
        <li class="hover-list-items">Boxer Briefs</li>
      </ul>
  </div>
</div>



 <div class="header-discover-hover" ng-show="showDiscover" ng-mouseover="showDiscover = true" ng-mouseleave="showDiscover = false">
  <div class="header-hover-title">
    <p>THE THREAD</p>
  </div>

  <div class="header-hover-title">
    <p>PUNKS & POETS</p>
  </div>

  <div class="header-hover-title">
    <p>ABOUT US</p>
  </div>

  <div class="header-hover-title">
    <p>PRESS</p>
  </div>

  <div class="header-hover-title">
    <p>INNOVATION</p>
  </div>
</div>



    <div class="header-container">
      <div class="header-left">
        <div class="header-left-top">
            <img class="american-flag" src="https://bfx-objects.borderfree.com/v1/dist/images/context-chooser/flags/US.gif" alt=""><small>1-888-391-9020</small>
        </div>
        <div class="header-left-bottom">
          <img src="http://demandware.edgesuite.net/bbbn_prd/on/demandware.static/Sites-Stance_US-Site/-/default/v1495370486050/images/svg-icons/stance-logo.svg" alt="stance logo">
        </div>
      </div>
      <div class="header-middle">
        <div class="header-middle-top">
          <h4>FREE US SHIPPING OVER $25</h4>
        </div>
        <div class="header-middle-bottom">
            <a ng-mouseover="showMen = true" ng-mouseleave="showMen = false" ng-class="{'showBorder': showMen}">MEN</a>
            <a ng-mouseover="showWomen = true" ng-mouseleave="showWomen = false">WOMEN</a>
            <a ng-mouseover="showKids = true" ng-mouseleave="showKids = false">KIDS</a>
            <a ng-mouseover="showUnderwear = true" ng-mouseleave="showUnderwear = false">UNDERWEAR</a>
            <a ng-mouseover="showDiscover = true" ng-mouseleave="showDiscover = false">DISCOVER</a>
        </div>
      </div>
      <div class="header-right">
        <div class="header-right-top">
          <div class="header-right-top-left">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="header-right-top-middle1">
            <p>Login / Register</p>
          </div>
          <div class="header-right-top-middle2">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
          <div class="header-right-top-right">
            0
          </div>
        </div>
        <div class="header-right-bottom">
          <div class="header-right-bottom-left">
          <p>Search</p>
          </div>
          <div class="header-right-bottom-right">
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="other-container">

    </div>
