<div class="user-managenment-div">
  <div class="user-my-acc">
    <p><a class="bold" href="#">My Account</a></p>
  </div>
  <div class="user-account">
    <p class="user-account-heading capital bold" ng-click="isShown=!isShown">my account</p>
    <p class="user-a-bottom" ng-show="isShown"><a class="acc-noline bold" href="#">Personal Data</a></p>
    <p class="user-a-bottom" ng-show="isShown"><a class="acc-noline bold" href="#">Addresses</a></p>
    <p class="user-a-bottom" ng-show="isShown"><a class="acc-noline bold" href="#">Payment Settings</a></p>
    <p class="user-a-bottom" ng-show="isShown"><a class="acc-noline bold" href="#">Email Settings</a></p>
  </div>
  <div class="user-account">
    <p class="user-account-heading capital bold" ng-click="isShown2=!isShown2">order information</p>
    <p class="user-a-bottom" ng-show="isShown2"><a class="acc-noline bold" ui-sref="orders">Order History</a></p>
  </div>
  <div class="user-account">
    <p class="user-account-heading capital bold" ng-click="isShown3=!isShown3">wish list</p>
    <p class="user-a-bottom" ng-show="isShown3"><a class="acc-noline bold" href="#">Modify Wish List</a></p>
  </div>
  <div class="user-account acc-management-bottom">
    <p class="user-account-heading capital bold" ng-click="isShown4=!isShown4">shop confidently</p>
    <p class="user-a-bottom" ng-show="isShown4"><a class="acc-noline bold" href="#">Privacy Policy</a></p>
  </div>
</div>
